<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastApi Demo</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Autotalli.bilar</h1>
    <div class="item-cards">
        {% for car in cars %}
            <div class="card">
                <h2>{{car.mark }}</h2>
                <p class="model">{{ car.model }}</p>
                <span>{{ car.yearModel }},</span>
                <span>{{ car.mileage }}km</span>
                <p>{{ car.description }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
